@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Sigmar&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: #333;
    background-image: linear-gradient(to top,#333,#555,#333);
    color: #fff;
  }
  
.dark{
    width: 100px;
    height: 100px; 
    margin:10px;
}



body{
    min-height: 100vh;
    font-family: 'Cabin Sketch';
    background-color: #d8c5a3;
}

.titulo{
    margin: 40px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 5px #fff,0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 40px #0ff, 0px 0px 80px #0ff,0px 0px 90px #0ff;
}

.traco{
    background-color:#0ff;
    height: 2px;
    margin: 40px;
}



.secoes{
    font-family: 'Sigmar', cursive;
    margin: 50px;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 5px #fff,0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 40px #0ff, 0px 0px 80px #0ff,0px 0px 90px #0ff;
}

div a{
    border: 2px solid black;
    margin-left: 10px;
    border-radius: 12px;
    text-align: center;
    flex: 1;
    padding: 30px;
    align-content: center;
    background-color: black;
    margin-top: 40px;
    min-width: 200px;
    color: #fff;
}

a{
    text-decoration: none;
}

div a:hover{
    background-color: #0ff;
    flex: 2;
    text-transform: uppercase;
    color: #333;
}

.containerTime{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-size: 25px;
}

.time{
    display: flex;
    justify-content: center;
}


#problema{
    margin: 20px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px #fff,0px 0px 10px #fff, 0px 0px 20px #fff, 0px 0px 40px #0ff, 0px 0px 80px #0ff,0px 0px 90px #0ff;
}

p{
    margin: 20px;
    text-indent: 40px;
    text-align: justify;
}

img{
    width: 40%;
    margin-left: 30%; 
 }
 
 #diaADia img{
     margin-bottom: 40px;
 }
 
 #tecnologia img{
   margin-left: 27%;
   
 }
 
 footer{
     background-color: black;
     color: #fff;
     display: flex;
 }
 
 .rodape{
     flex: 2;
 }
 